<div class="container mt-4">
  <h2 class="title-spacing">Employee List</h2>
  <a class="btn btn-primary mb-3" [routerLink]="['/employees/new']">Add New</a>
  <table class="table table-bordered">
    <thead class="table-green">
      <tr><th>ID</th><th>Name</th><th>Company</th><th>Designation</th><th>Department</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>
          <a [routerLink]="['/employees/details', emp.id]">{{ emp.id }}</a>
        </td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.company }}</td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.department }}</td>
        
        <td>
          <a [routerLink]="['/employees/edit', emp.id]" class="btn btn-sm btn-warning">Edit</a>
          <button class="btn btn-sm btn-danger ms-2" (click)="deleteEmployee(emp.id!)">Delete</button>
        </td>
      </tr>

      <tr *ngIf="employees.length === 0">
        <td colspan="4" class="text-center"><h1 class="text-danger">No employee data found.</h1></td>
        </tr>

    </tbody>
  </table>
</div>
