<div class="container mt-4">
  <h2>{{ editMode ? 'Edit' : 'Add' }} Employee</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

    <!-- Name Field -->
    <div class="mb-3">
      <label>Name</label>
      <input
        class="form-control"
        type="text"
        formControlName="name"
        appOnlyLetters
        [(ngModel)]="employee.name"
        required
      />

    <div *ngIf="submitted && employeeForm.invalid" class="text-danger">
      Name is required.
    </div>
    </div>

    <!-- Company Field -->
    <div class="mb-3">
      <label>Company</label>
      <input class="form-control" type="text" formControlName="company" 
      [(ngModel)]="employee.company"
      required />

      <div *ngIf="submitted && employeeForm.invalid" class="text-danger">
      Company is required.
    </div>
    </div>

    <!-- Designation Field -->
    <div class="mb-3">
      <label>Designation</label>
      <input class="form-control" type="text" formControlName="designation"
      
      [(ngModel)]="employee.designation"
      required />
      <div *ngIf="submitted && employeeForm.invalid" class="text-danger">
      Designation is required.
    </div>
    </div>

<!-- [disabled]="employeeForm.invalid" -->
    <!-- Buttons -->
    <button class="btn btn-success" type="submit">
      {{ editMode ? 'UPDATE' : 'SAVE' }}
    </button>

    <a class="btn btn-secondary ms-2" [routerLink]="['/employees']">Cancel</a>
  </form>
</div>
